.avatar{
	height: 75;
  width: 75;
  border-radius: 36;
}

.avatar-container {
  border-color: white;
  border-width: 2;
  border-radius: 38;
}

.profile-container {
  vertical-align: middle;
  horizontal-align: left;
  margin-left: 10;
}

.name{
	color: #000000;
  font-weight: bold;
  border-color: #000000;  
  margin-left: 5;
  margin-top: 6;
  font-size: 18;  
}

.phone{
	color: #000000;
  font-weight: normal;
  border-color: #000000;  
  margin-left: 5;
  margin-top: 5;
  font-size: 15;    
}

.green {
  background-color: green;  
}
.list-right-side{ 
  padding: 0; 
  margin-left: 5;
  horizontal-align: right;    
  vertical-align: middle;   
  color: #ffffff;    
  border-radius:0;
  height: 30;
  width: 70;    
}

.rent-text{
	color: white;  
  border-color: #000000;  
  margin: 0;
  margin-top: 3;
  font-size: 14;  
}

.rent-number{
	color: white;  
  border-color: #000000;  
  horizontal-align: center;
  margin-top: 1;
  font-size: 16;   
  margin: 0; 
}




.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}
.list-item {
  
  padding: 10;
  margin-bottom: 5;    
}
/*.stack-item {
  background-color: aliceblue;
  padding: 10;
  margin: 0;
}*/
.list-title {
  color: #000000;
  font-weight: bold;
}
.list-subtitle {
  margin-top: 20;
}
.red {
  background-color: red;
  padding-left: 12;
}
.green {
  background-color: green;
  padding-left: 18;
}
.list-right-side{  
  horizontal-align: right;     
  color: #ffffff;
  
  border-radius:0;
  height: 30;
  width: 70;  
  padding-top: 5;
}
